<!-- <div class="jumbotrons">
  <video autoplay="" loop="" id="bg-video" poster="images/banner.png">
    <source src="https://www.digital-lync.com/vnew/videos/DigitallYnc.mp4" type="video/mp4">
    <source src="https://www.digital-lync.com/vnew/videos/DigitallYnc.ogg" type="video/ogg">
  </video>
    <section class="top-banner Aligner">
      <div class="container Aligner-item" style="position: relative;">
        <div class="row">
          <div class="col-md-12 col-sm-12 landing-desc">
              <h1 class="text-center">The Advanced Technology Learning Hub!</h1>
              <h3 class="font-weight-bold text-center">Classroom & Online</h3>
          </div>
        </div>
      </div>
    </section>
  </div> -->
<div class="homepage-hero-module" id="vcont">
  <div class="video-container">
    <div class="title-container Aligner">
        <div class="container Aligner-item" style="position: relative;z-index:9999">
            <div class="row">
              <div class="col-md-12 col-sm-12 landing-desc">
                  <h1 class="text-center">The Advanced Technology Learning Hub!</h1>
                  <h3 class="font-weight-bold text-center">Classroom & Online</h3>
              </div>
            </div>
          </div>
    </div>
    <div class="filter"></div>
    <video autoplay loop class="fillWidth">
      <source src="https://www.digital-lync.com/vnew/videos/DigitallYnc.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.</video>
    <div class="poster hidden">
      <img src="http://www.videojs.com/img/poster.jpg" alt="">
    </div>
  </div>
</div>