<app-landingpage-bgvideo></app-landingpage-bgvideo>

<section class="section-padding trending-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center trending">
        <h2 class="color1caba0">Our Trending Courses</h2>
      </div>
    </div>
  </div>
  <div class="container courses hidden-xs hidden-sm">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-4 col-xs-4 col-sm-4 courses-col1 zoom">
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/big-data-course-training-hyderabad" class="bigdata">
                    <img src="../../../assets/images/bigdata.svg" alt="Big Data Training in Hyderabad" title="Big Data">
                    <figcaption class="figure-caption">Big Data</figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/fullstack-course-training-hyderabad" class="fullstack">
                    <img src="../../../assets/images/fullstack.png" alt="Full Stack Development Training in Hyderabad" title="Full Stack"style="height: 142px;width: 142px;">
                    <figcaption class="figure-caption">Full Stack</figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/blockchain-course-training-hyderabad" class="blockchain ">
                    <img src="../../../assets/images/blockchain.svg" alt="Blockchain Training in Hyderabad" title="Block Chain">
                    <figcaption class="figure-caption">BlockChain</figcaption>
                  </a>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md-4 courses-col2 col-xs-4 col-sm-4 zoom">
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/devops-course-training-hyderabad" class="devops">
                    <img src="../../../assets/images/devops.svg" alt="Devops Training in Hyderabad" title="Devops">
                    <figcaption class="figure-caption">Devops</figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="course-img">
                <figure class="figure wow zoomIn">
                  <a routerLink="courses" class="dlogo">
                    <img src="../../../assets/images/dl_logo.svg" alt="Digital Lync" title="dlogo">
                    <figcaption class="figure-caption"></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/aws-course-training-hyderabad" class="aws">
                    <img src="../../../assets/images/aws.svg" alt="Aws" title="Aws">
                    <figcaption class="figure-caption">AWS</figcaption>
                  </a>
               </figure>
              </div>
            </div>
          </div>
          <div class="col-md-4 courses-col3 col-xs-4 col-sm-4 zoom">
            <div class="course-img">
              <figure class="figure wow fadeInUp">
                <a routerLink="course/data-science-course-training-hyderabad" class="datascience">
                  <img src="../../../assets/images/datascience.svg" alt="Data Science Training in Hyderabad" title="Data Science">
                  <figcaption class="figure-caption">Datascience</figcaption>
                </a>
              </figure>
            </div>
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/digital-marketing-course-training-hyderabad" class="dmarketing">
                    <img src="../../../assets/images/dmarketing.svg" alt="Digital Marketing Training in Hyderabad" title="Digital Marketing">
                    <figcaption class="figure-caption">Digital Marketing</figcaption>
                 </a>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/python-course-training-hyderabad" class="python">
                    <img src="../../../assets/images/python.svg" alt="Python Training in Hyderabad" title="Python">
                    <figcaption class="figure-caption">Python</figcaption>
                  </a>
                </figure>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container courses media-style visible-sm visible-xs hidden-lg text-center custom-caption-size">
    <div class="row text-center">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/big-data-course-training-hyderabad" class="bigdata">
              <img src="../../../assets/images/bigdata.svg" alt="Big Data Training in Hyderabad" title="Big Data" class="img-responsive">
            </a>
            <figcaption class="figure-caption">Big Data</figcaption>

          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/fullstack-course-training-hyderabad" class="fullstack">
              <img src="../../../assets/images/fullstack.png" alt="Full Stack Development Training in Hyderabad" title="Full Stack" class="img-responsive">
              <figcaption class="figure-caption">Full Stack</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/blockchain-course-training-hyderabad" class="blockchain">
              <img src="../../../assets/images/blockchain.svg" alt="Blockchain Training in Hyderabad" title="Block Chain"class="img-responsive">
              <figcaption class="figure-caption">BlockChain</figcaption>
            </a>
          </figure>
        </div>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/devops-course-training-hyderabad" class="devops">
              <img src="../../../assets/images/devops.svg" alt="Devops Training in Hyderabad" title="Devops" class="img-responsive">
              <figcaption class="figure-caption">DevOps</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="courses" class="dlogo">
              <img src="../../../assets/images/dl_logo.svg" alt="Digital Lync" title="dlogo" class="img-responsive">
              <figcaption class="figure-caption"></figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/aws-course-training-hyderabad" class="aws">
              <img src="../../../assets/images/aws.svg" alt="Aws" title="Aws"class="img-responsive">
              <figcaption class="figure-caption">AWS</figcaption>
            </a>
          </figure>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/data-science-course-training-hyderabad" class="datascience">
              <img src="../../../assets/images/datascience.svg" alt="Data Science Training in Hyderabad" title="Data Science"class="img-responsive">
              <figcaption class="figure-caption">Data Science</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/digital-marketing-course-training-hyderabad" class="dmarketing">
              <img src="../../../assets/images/dmarketing.svg" alt="Digital Marketing Training in Hyderabad"title="D Marketing" class="img-responsive">
              <figcaption class="figure-caption">Digital</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/python-course-training-hyderabad" class="python">
              <img src="../../../assets/images/python.svg" alt="Python Training in Hyderabad" title="Python" class="img-responsive">
              <figcaption class="figure-caption">Python</figcaption>
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding dl-special text-center">
  <div style=" box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.08);padding: 50px;">
    <div class="container">
      <div class="wrapper">
        <div class="dl">
          <img src="/assets/images/logo.png">
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="color1black">WHY  EVERYONE  <span class="love"style="padding: 10px;"><img src="/assets/images/love.png"></span>THIS ?</h2>
          </div>
        </div>
      </div>
      <div class="row whydltSpl">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/the-best-trainers.png" alt="The Best Trainers" title="The Best Trainers">
          <h4 style="color:#00ae62;">The Best Trainers</h4>
          <p>Real Developers are our Trainers! our Trainers spend half of their time on products at our innovation center.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/online-classes1.png" alt="Online Classes" title="Online Classes"  height="60px" width="60px;">
          <h4 style="color:#1b80c3">Class Room & Online</h4>
          <p>Our online experience is as good as our in class experience. Our programs offer end to personal interaction with
            students.
          </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/we-are-commited1.png" alt="We are Committed" title="We Are Committed">
          <h4 style="color:#f4c714">We are Committed</h4>
          <p>We consider your success to be ours. Your achievement is our commitment. We teach until you learn.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/really-affordable1.png" alt="Really Affordable"title="Really Affordable">
          <h4 style="color:#da3538">Really Affordable</h4>
          <p>We believe in a collaborative, cool and learn friendly environment. Our promise, is to provide all this for no additional
            charge. </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="color1black">How are we Different</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
           
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-bottom border-right">
            <figure class="figure">
              <img src="../../../assets/images/1-1-interaction1.png" alt="one to one interaction" title="One To One Interaction" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">1 to 1 Interaction</figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-bottom border-right">
              
            <figure class="figure">
              <img src="../../../assets/images/trainers1.png" alt="Trainers 150+" title="Trainers" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">Trainers 150+</figcaption>
            </figure>
            
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-bottom ">
           
            <figure class="figure">
              <img src="../../../assets/images/24-7-support.png" alt="24/7 Support" title="24/7 Support" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">24/7 Support</figcaption>
            </figure>
           
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-right">
            <figure class="figure">
              <img src="../../../assets/images/international-standards1.png" alt="International Standards" title="International Standards" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">International Standards</figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-right">
            <figure class="figure">
              <img src="../../../assets/images/corporate-environment1.png" alt="Corporate Environment" title="Corporate Environment" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">Corporate Environment</figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 ">
            <figure class="figure">
              <img src="../../../assets/images/great-tech-infrastructure1.png" alt="Great Tech Infrastructure" title="Great Tech Infrastructure" class="how-are-we-different-images" title="Great IT Technologies">
              <figcaption class="figure-caption font-padding color1black">Great Technology Infrastructure</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ourprocess section-padding text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 font-padding">
        <h2 class="color1caba0">Our Process</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 hidden-sm hidden-xs">
            <div class="procnum">1</div>
          </div>
          <div class="col-md-4 hidden-sm hidden-xs">
            <div class="procnum">2</div>
          </div>
          <div class="col-md-4 hidden-sm hidden-xs">
            <div class="procnum">3</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs hidden-sm padding-10">
            <img src="../../../assets/images/process.png" style="width: 70%" title="process">
          </div>
        </div>
        <div class="row padding-10">
          <div class="col-md-4 col-sm-4">
            <h4 class="color1caba0">Career Guidance</h4>
            <p>Our expert counsellors analyse your skills and match your skills to an industry trending technology and advise you
              of the many opportunities.</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <h4 class="color1caba0">Choose Course</h4>
            <p>You pick a course according to your passion and vision. We guide you through the process. Mentor you and help
              you throughout your learning process. </p>
          </div>
          <div class="col-md-4 col-sm-4">
            <h4 class="color1caba0">Placement Assistance</h4>
            <p>We are a link to your awesome future! We will guide you all the way to your next job. We recognize your skills, enhance
              them and present you to the coolest companies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="section-padding text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center reviews-heading">
        <h2>Our Branches at your convenience</h2>
      </div>
    </div>
    <div class="row">
        <app-carousel-contact></app-carousel-contact>
    </div>
  </div>
</section> -->
<section class="hidden-xs hidden-sm">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 font-padding">
        <h2 class="color1caba0">Our Branches at your convenience</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-dummycarousel></app-dummycarousel>
      </div>
    </div>
  </div>
</section>
<section class="section-padding" style="background-color: #f4fafa;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center reviews-heading">
        <h2>Our Reviews</h2>
      </div>
    </div>
    <app-reviews></app-reviews>
  </div>
  <div class="container" id="we-partner">
    <div class="row">
      <div class="col-md-12 text-center we-partner">
        <h2 class="heading">We Partner with the Best</h2>
      </div>
    </div>
    <div class="row padding20">
      <!-- <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/google.png" class="img-responsive" alt="GOOGLE" title="GOOGLE">
      </div> -->
      <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../../../assets/images/ibot.jpg" class="img-responsive" alt="iamibot" title="IAM IBOT">
        </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/process-weaver.png" class="img-responsive" alt="PROCESS WEAVER" title="PROCESS WEAVER">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/brocade.png" class="img-responsive" alt="BROCADE" title="BROCADE">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/at&amp;t.png" class="img-responsive" alt="AT&T" title="AT&T">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/sales-force.png" class="img-responsive" alt="SALESFORCE" title="SALESFORCE">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/voltus-wave.png" class="img-responsive" alt="VOLTUS WAVE" title="VOLTUS WAVE">
      </div>
    </div>
  </div>
</section>

