  <!-- <mat-nav-list  style="padding-bottom: 60px;">
      <img src="../../../assets/images/white-logo.png" alt="logo" style="width:280px;height:88px;padding:16px;border-bottom:1px solid #fff">
      <mat-list-item *ngFor="let item of menuList" style="border-bottom: 1px solid #c6d0da;">
              <mat-icon 
                  class="md-18" 
                  md-list-icon svgIcon="core:{{item.icon}}" 
                  routerLink="{{item.link}}"  routerLinkActive="active-link" class="inactive menu-icon" 
                  (click)="states.activeItem=item.id">
                  </mat-icon>
                  <a style="color:white; font-size: 21px;
                  font-weight: bold;
              " routerLink="{{item.link}}"> {{item.name}}  </a>
      </mat-list-item>
      <mat-list-item (click)="logout()" style="border-bottom: 1px solid #c6d0da;">
        <mat-icon >exit_to_app</mat-icon>
        <a style="color:white; font-size: 21px;
        font-weight: bold;
    "> Signout  </a>
    </mat-list-item>
    </mat-nav-list> -->