<!-- <section style="
  width: 100%;
  height: 300px;
  background-image: linear-gradient(348deg, #7fdeea, #07cab2);
" id="footer-bottom">
  <div class="container">
    <div class="row">

    </div>
  </div>
</section> -->
<section style="
width: 100%;
height: 300px;
background-image: linear-gradient(348deg, #7fdeea, #07cab2);
" id="footer-bottom">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 xs-text-center">
          <a href="">
            <img src="../../../assets/images/flogo.png" class="img-responsive f-logo">
          </a>
        </div>
        <div class="col-md-6 col-sm-6 text-right xs-text-center social-links">
          <a href="">
            <img src="../../../assets/images/facebook.png" class="img-responsive s-logo">
          </a>
          <a href="">
            <img src="../../../assets/images/twitter.png" class="img-responsive s-logo">
          </a>
          <a href="">
            <img src="../../../assets/images/linkedin.png" class="img-responsive s-logo">
          </a>
          <a href="">
            <img src="../../../assets/images/googleplus.png" class="img-responsive s-logo">
          </a>
          <a href="">
            <img src="../../../assets/images/instagram.png" class="img-responsive s-logo">
          </a>
          <a href="">
            <img src="../../../assets/images/youtube.png" class="img-responsive s-logo">
          </a>
        </div>
      </div>
      <div class="row f-qlinks">
        <div class="col-md-3 col-sm-6">
          <h4>ONLY AT DIGITALLYNC</h4>
          <p>
            <a href="#">Artificial Intelligence</a>
          </p>
          <p>
            <a href="#">Deep Learning Foundations</a>
          </p>
          <p>
            <a href="#">Digital Marketing</a>
          </p>
          <p>
            <a href="#">Machine Learning Engineer</a>
          </p>
          <p>
            <a href="#">Robotics</a>
          </p>
          <p>
            <a href="#">VR Developer</a>
          </p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>COMPANY</h4>
          <p>
            <a href="#">About</a>
          </p>
          <p>
            <a href="#">Contact Us</a>
          </p>
          <p>
            <a href="#">Service Status</a>
          </p>
          <p>
            <a href="#">Legal & Privacy</a>
          </p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>RESOURCES</h4>
          <p>
            <a href="#">Acadamy </a>
          </p>
          <p>
            <a href="#">Latest Courses</a>
          </p>
          <p>
            <a href="#">Career Resource Center</a>
          </p>
          <p>
            <a href="#">Student Success</a>
          </p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>FEATURED PROGRAMS</h4>
          <p>
            <a href="#">Android Basics</a>
          </p>
          <p>
            <a href="#">Machine Learning Engineer</a>
          </p>
          <p>
            <a href="#">Data Analyst</a>
          </p>
          <p>
            <a href="#">Front-End Web Developer</a>
          </p>
          <p>
            <a href="#">Full Stack Web Developer</a>
          </p>
          <p>
            <a href="#">Intro to Programming</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</section>