<app-landingpage-bgvideo></app-landingpage-bgvideo>
<section class="section-padding trending-section">
  <div class="row">
    <div class="col-md-12 text-center trending">
      <h2 class="color1caba0">Our Trending Courses</h2>
    </div>
  </div>
  <div class="container courses hidden-xs hidden-sm">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-4 col-xs-4 col-sm-4 courses-col1 zoom">
            <div class="row">
              <div class="course-img">
                <figure class="figure animated fadeInUp">
                  <a href="#" class="bigdata">
                    <img src="../../../assets/images/bigdata.svg" alt="image of big data">
                    <figcaption class="figure-caption">Big Data</figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="course-img">
                <figure class="figure animated fadeInUp">
                  <a href="#" class="gamedev">
                    <img src="../../../assets/images/gamedev.svg" alt="image of game development">
                    <figcaption class="figure-caption">Game Development</figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="course-img">
                <figure class="figure animated fadeInUp">
                  <a href="#" class="blockchain ">
                    <img src="../../../assets/images/blockchain.svg" alt="image of blockchain">
                    <figcaption class="figure-caption">BlockChain</figcaption>
                  </a>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md-4 courses-col2 col-xs-4 col-sm-4 zoom">
            <div class="row">
              <div class="course-img">
                <figure class="figure animated fadeInUp">
                  <a href="#" class="devops">
                    <img src="../../../assets/images/devops.svg" alt="image of devops">
                    <figcaption class="figure-caption">Devops</figcaption>

                  </a>

                </figure>

              </div>

            </div>

            <div class="row">

              <div class="course-img">

                <figure class="figure animated zoomIn">

                  <a href="#" class="dlogo">

                    <img id="dlimg" src="../../../assets/images/dl_logo.svg" alt="image of digital logo">

                    <figcaption class="figure-caption"></figcaption>

                  </a>

                </figure>

              </div>

            </div>

            <div class="row">

              <div class="course-img">

                <figure class="figure animated fadeInUp">

                  <a href="#" class="aws">

                    <img src="../../../assets/images/aws.svg" alt="image of aws">

                    <figcaption class="figure-caption">AWS</figcaption>

                  </a>

                </figure>

              </div>

            </div>

          </div>

          <div class="col-md-4 courses-col3 col-xs-4 col-sm-4 zoom">

            <div class="course-img">

              <figure class="figure animated fadeInUp">

                <a href="#" class="datascience">

                  <img src="../../../assets/images/datascience.svg" alt="image of datasceince">

                  <figcaption class="figure-caption">Datascience</figcaption>

                </a>

              </figure>

            </div>

            <div class="row">

              <div class="course-img">

                <figure class="figure animated fadeInUp">

                  <a href="#" class="dmarketing">

                    <img src="../../../assets/images/dmarketing.svg" alt="image of digital marketing">

                    <figcaption class="figure-caption">Digital Marketing</figcaption>

                  </a>

                </figure>

              </div>

            </div>

            <div class="row">

              <div class="course-img">

                <figure class="figure animated fadeInUp">

                  <a href="#" class="python">

                    <img src="../../../assets/images/python.svg" alt="image of python">

                    <figcaption class="figure-caption">Python</figcaption>

                  </a>

                </figure>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
  <div class="container courses visible-sm visible-xs hidden-lg text-center custom-caption-size">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure animated fadeInUp">
            <a href="#" class="bigdata">
              <img src="../../../assets/images/bigdata.svg" alt="image of big data" class="img-responsive">
              <figcaption class="figure-caption">Big Data</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure animated fadeInUp">
            <a href="#" class="bigdata">
              <img src="../../../assets/images/gamedev.svg" alt="image of game development" class="img-responsive">
              <figcaption class="figure-caption">Game Development</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure animated fadeInUp">
            <a href="#" class="bigdata">
              <img src="../../../assets/images/blockchain.svg" alt="image of blockchain" class="img-responsive">
              <figcaption class="figure-caption">BlockChain</figcaption>
            </a>
          </figure>
        </div>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure animated fadeInUp">
            <a href="#" class="bigdata">
              <img src="../../../assets/images/devops.svg" alt="image of devops" class="img-responsive">
              <figcaption class="figure-caption">DevOps</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure animated fadeInUp">
            <a href="#" class="bigdata">
              <img src="../../../assets/images/dl_logo.svg" alt="image of logo" class="img-responsive" style="height:62.22px">
              <figcaption class="figure-caption"></figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure animated fadeInUp">
            <a href="#" class="bigdata">
              <img src="../../../assets/images/aws.svg" alt="image of aws" class="img-responsive">
              <figcaption class="figure-caption">AWS</figcaption>
            </a>
          </figure>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure animated fadeInUp">
            <a href="#" class="bigdata">
              <img src="../../../assets/images/datascience.svg" alt="image of Data Science" class="img-responsive">
              <figcaption class="figure-caption">Data Science</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure animated fadeInUp">
            <a href="#" class="bigdata">
              <img src="../../../assets/images/dmarketing.svg" alt="image of Digital Marketing" class="img-responsive">
              <figcaption class="figure-caption">Digital Marketing</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure animated fadeInUp">
            <a href="#" class="bigdata">
              <img src="../../../assets/images/python.svg" alt="image of python" class="img-responsive">
              <figcaption class="figure-caption">Python</figcaption>
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding dl-special text-center">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-12">
          <h2 class="color1caba0">Why Digital Lync is Special !</h2>
        </div>
      </div>
    </div>
    <div class="row whydltSpl">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <img src="../../../assets/images/the-best-trainers.svg" alt="The Best Trainers">
        <h4>The Best Trainers</h4>
        <p>Our developers are our trainers! our trainers spend half of their time on products at our innovation center.</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <img src="../../../assets/images/online-classes.svg" alt="Online Classes">
        <h4>Online Classes</h4>
        <p>Our online experiance is as good as our in class experiance. Our programs offer end to personal interaction with
          students.
        </p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <img src="../../../assets/images/we-are-commited.svg" alt="We are Committed">
        <h4>We are Committed</h4>
        <p>We consider your succes to be ours. Your achivement is our commitment. We teach until you learn.</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <img src="../../../assets/images/really-affordable.svg" alt="Really Affordable">
        <h4>Really Affordable</h4>
        <p>We believe in a collabourative, cool and learn friendly environment. Our promise, is to provide all this for no additional
          charge. </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="color1caba0">How are we Different</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <figure class="figure">
            <img src="../../../assets/images/1-1-interaction.svg" alt="one to one interaction" class="how-are-we-different-images">
            <figcaption class="figure-caption font-padding color1caba0">1 to 1 Interaction</figcaption>
          </figure>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <figure class="figure">
            <img src="../../../assets/images/trainers.svg" alt="Trainers 150+" class="how-are-we-different-images">
            <figcaption class="figure-caption font-padding color1caba0">Trainers 150+</figcaption>
          </figure>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <figure class="figure">
            <img src="../../../assets/images/support.svg" alt="24/7 Support" class="how-are-we-different-images">
            <figcaption class="figure-caption font-padding color1caba0">24/7 Support</figcaption>
          </figure>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <figure class="figure">
            <img src="../../../assets/images/international-standards.svg" alt="International Standards" class="how-are-we-different-images">
            <figcaption class="figure-caption font-padding color1caba0">International Standards</figcaption>
          </figure>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <figure class="figure">
            <img src="../../../assets/images/corporate-environment.svg" alt="Corporate Environment" class="how-are-we-different-images">
            <figcaption class="figure-caption font-padding color1caba0">Corporate Environment</figcaption>
          </figure>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <figure class="figure">
            <img src="../../../assets/images/great-it-technologies.svg" alt="Great IT Technologies" class="how-are-we-different-images">
            <figcaption class="figure-caption font-padding color1caba0">Great IT Technologies</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ourprocess section-padding text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 font-padding">
        <h2 class="color1caba0">Our Process</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 hidden-sm hidden-xs">
            <div class="procnum">1</div>
          </div>
          <div class="col-md-4 hidden-sm hidden-xs">
            <div class="procnum">2</div>
          </div>
          <div class="col-md-4 hidden-sm hidden-xs">
            <div class="procnum">3</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs hidden-sm padding-10">
            <img src="../../../assets/images/process.png" style="width: 70%">
          </div>
        </div>
        <div class="row padding-10">
          <div class="col-md-4 col-sm-4">
            <h4 class="color1caba0">Career Guidance</h4>
            <p>Our expert counsellors analyse your skill and match your skills to an industry trending courses and advise you
              of the many opportunities.</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <h4 class="color1caba0">Choose Course</h4>
            <p>You pick a course according to your passion and vision. We guide you through the process. Mentor you and help
              you through out your learning process. </p>
          </div>
          <div class="col-md-4 col-sm-4">
            <h4 class="color1caba0">Placement assistance</h4>
            <p>We are a link to your awesome future! We will be your wing man for your job. We recognize your skills, enhance
              them and present you to the coolest companies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>