<!-- <section class="container section-padding">
  <div class="row">
      <div class="col-md-12 text-center" style=" background-color: #9b9b9b;box-shadow: 0 2px 30px 0 #9b9b9b;padding:15px;color:white">
        <h1>Silver Membership</h1>
      </div>
  </div>
  <div class="row" style="background-color: white;box-shadow: 0 3px 12px 0 rgba(155, 155, 155, 0.54);padding:15px">
    <div class="col-md-6 section-padding">
      <ul class="list">
        <li>Lifetime access to classroom training for completed course</li>
        <li>Lifetime access to course documentation</li>

        <li>Resume support from expert</li>

        <li>Community Discussion Forum</li>

        <li>Technical Library - Latest E-Books, Technical Articles and Papers</li>

        <li>24/7 support</li>
        
        </ul>

    </div>
    <div class="col-md-6 section-padding" style="padding-top:20px;">
<img src="../../../../assets/images/silver-membership.png" width="320px" style="padding-top: 80px;">
      </div>

  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 text-center">
      <app-formmodal [page]="page" [buttonText]="buttonText"></app-formmodal>
  </div>
  </div>
</section> -->