<nav class="navbar navbar-default" role="navigation" id="navbar">
  <div class="container-fluid" id="navfluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo"><img src="../../assets/images/dlt-logo.svg" width="190px" height="38px"></a>
      </div>
      <div class="collapse navbar-collapse pull-right" id="navigationbar">
          <ul class="nav navbar-nav navbar-right">
              <li class="list-item"><a routerLink = "/courses"  routerLinkActive="active-link">Courses</a></li>
              <li class="list-item"><a routerLink = "/program"  routerLinkActive="active-link">Program</a></li>
              <li class="list-item"><a routerLink = "/incubation"  routerLinkActive="active-link">Incubation</a></li>
              <li class="list-item"><a routerLink = "/innovation"  routerLinkActive="active-link">Innovation</a></li>
              <li class="list-item"><a routerLink = "events"  routerLinkActive="active-link">Events</a></li>
              <li class="list-item"><a routerLink = "contact"  routerLinkActive="active-link">Contact</a></li>
          </ul>
      </div>
  </div>
</nav>