<section class="text-center section-padding" style="padding: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="myCarousel" class="carousel slide " data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators padding15">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-4 ">
                                    <div class="panel block">
                                        <div class="panel-body">
                                            <div class="testimonial">
                                                <p>I'm happy to be part of this digital Lync training , its a nice experience
                                                    staying here and learning new technologies which gave me a talent in
                                                    real time projects. </p>
                                            </div>
                                            <div class="media">
                                                <div class="media-left d-flex mr-3">
                                                    <img src="https://www.digital-lync.com/vnew/images/r3.JPG" alt="mani">
                                                </div>
                                                <div class="media-body">
                                                    <div class="overview">
                                                        <div class="name">
                                                            <b>Renuka Amuruju</b>
                                                        </div>
                                                        <div class="details">Full Stack Development</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="panel block">
                                        <div class="panel-body">
                                            <div class="testimonial">
                                                <p>I Have been very happy with encouragement of Digital lync. the administration
                                                    staff always reply within hours, the tutors are reliable and never late
                                                    with marking assignments and the course itself is very well done and
                                                    useful..":grinning: thankyou @Digitallync</p>
                                            </div>
                                            <div class="media">
                                                <div class="media-left d-flex mr-3">
                                                    <img src="https://www.digital-lync.com/vnew/images/r1.JPG" alt="mani">
                                                </div>
                                                <div class="media-body">
                                                    <div class="overview">
                                                        <div class="name">
                                                            <b>immadi Navya Sai</b>
                                                        </div>
                                                        <div class="details">Full Stack Development</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="panel block">
                                        <div class="panel-body">
                                            <div class="testimonial">
                                                <p>A very interesting and new valuable experience...i found the course challenging,it
                                                    enabled me interact with people through out pratical work.Thank you for
                                                    your support @Digitallync </p>
                                            </div>
                                            <div class="media">
                                                <div class="media-left d-flex mr-3">
                                                    <img src="https://www.digital-lync.com/vnew/images/r2.JPG" alt="mani">
                                                </div>
                                                <div class="media-body">
                                                    <div class="overview">
                                                        <div class="name">
                                                            <b>immadi Divya Sai</b>
                                                        </div>
                                                        <div class="details">Full Stack Development</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-4 ">
                                    <div class="panel block">
                                        <div class="panel-body">
                                            <div class="testimonial">
                                                <p>Digital Lync is such an interactive place for learning. I joined this institute
                                                    for learning digital marketing and the teachers have taught me wonders.
                                                    Prasheel and Ruth both have been my teachers and they have been very
                                                    cooperative with me. I personally refer this institute to ones who are
                                                    seeking personal growth. Thank You so much to each one who helped me
                                                    during the course.</p>
                                            </div>
                                            <div class="media">
                                                <div class="media-left d-flex mr-3">
                                                    <img src="https://www.digital-lync.com/vnew/images/codes.png" alt="mani">
                                                </div>
                                                <div class="media-body">
                                                    <div class="overview">
                                                        <div class="name">
                                                            <b>jasmine chawla</b>
                                                        </div>
                                                        <div class="details">Digital Marketing</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="panel block">
                                        <div class="panel-body">
                                            <div class="testimonial">
                                                <p>Iam Very Happy to share my thoughts about DIgital Lync.Before Joining Lync
                                                    school i didn't have much knowledge on which software training should
                                                    i take to get a job after sharing my thoughts with mani sir with his
                                                    suggestion i choosed Devops Course.May be in Hyderabad lync school is
                                                    only one which provides practical knowldege.Now iam very happy because
                                                    of a got a job in MNC with their support and help.I think each and individual
                                                    who helped me in my carrier,mainly Mani sir,Sunil and Ravi.</p>
                                            </div>
                                            <div class="media">
                                                <div class="media-left d-flex mr-3">
                                                    <img src="https://www.digital-lync.com/vnew/images/codes.png" alt="mani">
                                                </div>
                                                <div class="media-body">
                                                    <div class="overview">
                                                        <div class="name">
                                                            <b>Madhu Komal Nidamanuri </b>
                                                        </div>
                                                        <div class="details">Devops</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="panel block">
                                        <div class="panel-body">
                                            <div class="testimonial">
                                                <p>Am equally glad to have successfully completed the course and its been an
                                                    awesome learning! Thanks to you and your expertise :) Prasheel, you've
                                                    been very professional and have always been open to sharing your knowledge
                                                    and best practices whether its related to the course or outside of it.
                                                    Not just that, you were very flexible in understanding my tight schedules
                                                    and have been very patient through out. Appreciate every bit of it!</p>
                                            </div>
                                            <div class="media">
                                                <div class="media-left d-flex mr-3">
                                                    <img src="https://www.digital-lync.com/vnew/images/codes.png" alt="mani">
                                                </div>
                                                <div class="media-body">
                                                    <div class="overview">
                                                        <div class="name">
                                                            <b>Shailaja Morris </b>
                                                        </div>
                                                        <div class="details">Digital Marketing</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>