<div class="video-block">
    <div class="videoWrapper videoWrapper169 js-videoWrapper" #jsVideoWrapper>
             <!-- <iframe width="250" height="150" class="videoIframe js-videoIframe" #jsVideoIframe src="https://www.youtube.com/embed/JQmAn9eNtNI" autoplay=1 frameborder="0" allowTransparency="true" allowfullscreen>
            </iframe>  -->
            <!-- <iframe src="https://www.youtube.com/embed/JQmAn9eNtNI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
            </iframe> -->
            
        <a href="https://www.youtube.com/watch?v=JQmAn9eNtNI&t=12s" target="_blank" class="videoPoster js-videoPoster" style="background-position:center;" [style.backgroundImage]="'url('+imageHost+image.url+')'">Play video</a>
        <!-- <img class="videoPoster js-videoPoster" #jsVideoPoster style="background-position:center;" [style.backgroundImage]="'url('+imageHost+image.url+')'"> -->
    </div>
</div>